<div class="container">
  <div class="col-lg-12">
    <div class="section-text">
      <h1>About Shmarks</h1>
    </div>
    <div class="col-md-12">
      <h5>
        <p>Shmarks is web application that allows users to bookmark URLs via email, peruse other user's bookmarks and maintain a personal index of categorized bookmarks!</p>
        <h4>To use this application:</h4>
      </h5>
    </div>
    <div class="col-md-12">
      <h5>
        <p>Send an email to <strong>quiet-plains-42389@app6f89ab31539e4054aa5ae3b68089cd19.mailgun.org</strong> with the your category, or topic, in the subject line, and in the body, write the URL you would like to bookmark.</p>
        <p>Click send and it's saved to your account!</p>
      </h5>
    </div>
    <div class="col-md-12">
      <h5>
        <p>If you send a bookmark from an email address other than the one registered on Shmarks, a new account will be created for you based on the email address you used to send the email. You would then use the <em>Forgot your password</em> option to create a new password.</p>
      </h5>
    </div>
  </div>
