<div class = "jumbotron text-center">
  <h1>Blocmark</h1>
  <p>Blocmark is an application that allows users to bookmark URLs via email, peruse other user's bookmarks and maintain a personal index of categorized bookmarks.</p>
  <% if !user_signed_in? %>
    <div>
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<div class="container text-center">
  <div class = "row">
    <div class = "col-md-6">
      <h2>Category</h2>
        <%= link_to 'Sign up', new_user_registration_path %>
      <p>Bookmarks!</p>
    </div>
    <div class = "col-md-6">
      <h2>Category</h2>
        <%= link_to 'Sign in', new_user_session_path %>
      <p>More bookmarks!</p>
    </div>
  </div>
</div>
