// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Topic Styling
.inner-container {
  padding: 1em;
}

.topic {
  margin: 0 5% 0 5%;
}

.topic-container-inner {
  margin: 0 3em;
  padding: 0 2em;
}

.topic-container {
  text-align: center;
}

.topic-title {

  h3 {
    color: #777777;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  small {
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: #777777;
  }
}

// Topic Edit & Delete links
.delete-link {
  padding: .5em 0;

  .fi-pencil, .fi-trash {
    color: #999999;
    font-size: 30px;
    padding: 0 .25em;
  }
}

// Styling for Bookmark Edit, Delete, & Favorite
.bookmark-controls {
  margin-top: 1em;
  padding: 0;

  .fi-pencil, .fi-trash, .fi-star {
    color: #999999;
    font-size: 18px;
    padding: 0.125em;
  }

  .favorited {
    color: #008CBA;
  }
}

// Button styling for Topic & Bookmark
#save_changes, #create_topic, #create_bookmark, #save_bookmark {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.ind-bookmark {
  text-align: center;
  padding: 0;
  height: 10rem;
}
