// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import 'foundation_and_overrides';

%full-width-container {
  width: 100%;
  height: 28rem;
  margin-bottom: 4%;
  overflow: scroll;
}

%full-width-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-header {
  @extend %full-width-image;
  @extend %full-width-container;
  background-color: #F5F5F5;
  background-image: url('books.jpg');
}

.container {
  // @extend .row;
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
  // padding: 1em;
}

.intro-text {
  text-align: center;
  margin-top: 5%;

  h1 {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 4rem;
  }

  h2 {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2.5rem;
  }
}

.section-text {
  text-align: center;
}

.info-text {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333;
  margin: 2em 2em;
  background-color: #E9E9E9;

  h5, p {
    color: #006666;
  }
}

#join-shmarks {
  @extend .main-header;
  margin-top: 4%;
  background-image: url('letter');
}
